.maincol1 {
    height: 700px;
    background: rgb(165, 23, 212);
    background: rgba(165, 23, 212, 0.6);
    color: gold;
    margin-right: 30px;
    text-align: center;
}

.maincol2 {
    height: 700px;
    background: rgb(165, 23, 212);
    background: rgba(165, 23, 212, 0.6);
    color: gold;
    margin-left: 30px;
    text-align: center;
}

body {
    margin: 30px;
}

.titleimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.topic-pic {
    width: 350px;
    height: 175px;
    border: solid;
    color: gold;
}

.vid {
    width: 350px;
    height: 50px;
}

.button1 {
    color: gold;
    background-color: blueviolet;
}
.button2 {
    color: blueviolet;
    background-color: gold;
}

.maintext {
    font-family: 'Orbitron', sans-serif;
}

.otherText {
    font-family: 'Orbitron', sans-serif , aqua;
    color: aqua;
}